@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

header {
  z-index: 889;
  position: fixed;
  background-color: #0f52ba;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease;
}

header.sticky {
  background-color: #0b3d91;
  padding: 10px 200px;
}

header .brand {
  color: rgb(255, 255, 255);
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation a {
  color: rgb(255, 255, 255);
  font-size: 1em;
  text-decoration: none;
  font-weight: 500;
  margin-left: 15px;
}

header .navigation a:hover {
  color: #00e5ff;
}

header .sticky .navigation a:hover {
  color: black;
}

section {
  padding: 100px 200px;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/main.6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main .content {
  max-width: 800px;
}

.main .content h2 {
  color: white;
  font-size: 2em;
  font-weight: 500;
}

.main .content h2 span {
  font-size: 2.8rem;
  font-weight: 600;
}

.animated-text {
  position: relative;
  height: 70px;
  overflow: hidden;
}

.animated-text h3 {
  color: #b3b7ec;
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
  animation: text-move 6s infinite ease-out;
}

@keyframes text-move {
  0%,
  12% {
    margin-top: 0px;
  }

  25%,
  37% {
    margin-top: -70px;
  }

  50%,
  62% {
    margin-top: -140px;
  }

  75%,
  87% {
    margin-top: -210px;
  }

  100% {
    margin-top: 0px;
  }
}

.animated-text {
  height: 70px;
  overflow: hidden;
}

.btn {
  color: white;
  background: linear-gradient(90deg, #1e90ff, #00e5ff);
  font-size: 1em;
  font-weight: 700;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-top: 30px;
  transition: 0.5s ease;
}

.btn:hover {
  background: linear-gradient(90deg, #187bcd, #00c4d6);
}

.btn,
.send-btn {
  box-shadow: 0 0 15px rgba(0, 229, 255, 0.3);
}

.media-icons {
  margin-top: 15px;
}

.media-icons i:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
  cursor: pointer;
}

.media-icons a {
  color: rgb(255, 255, 255);
  font-size: 27px;
  margin-right: 15px;
}

/* About */

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  position: relative;
  color: #1e90ff;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 60px;
}

.section-title::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 4px;
  background-color: #00e5ff;
  transform: translateX(-50%);
}

.section-title::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #00e5ff;
  transform: translateX(-50%);
}

.about {
  padding: 100px 0;
  background: #f8f9ff;
}

.about .content {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.about .content .col-left {
  position: relative;
  width: 45%;
}

.about .content .col-right {
  position: relative;
  width: 50%;
}

.about .content .col-left .img-card {
  position: relative;
  width: 100%;
  min-height: 450px;
}

.about .content .col-left .img-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about .content .col-right .content-title {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 20px;
}

.about .content .col-right .paragraph-text {
  font-size: 1em;
}

.card {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 30px;
}

/* PORTFOLIO */

.portofolio {
  background: #f4f8ff;
  padding: 60px 0;
}

.portofolio .section-title {
  color: #3a6cf4;
}

.portofolio .section-title::before,
.portofolio .section-title::after {
  background-color: #3a6cf4;
}

.portofolio .content {
  width: 90%;
  max-width: 1000px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolom */
  gap: 40px;
}

.portofolio .content .card {
  display: flex;
  align-items: center;
  gap: 20px;

  background: #fff;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(58, 108, 244, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.portofolio .content .card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(58, 108, 244, 0.15);
}

.card-img {
  width: 120px;
  height: 160px;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info h3 {
  margin-bottom: 10px;
}

.card-info p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

/* contact */

.contact .content {
  display: grid;
  grid-template-columns: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}

.contact .content .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact .content .row .card {
  background: #fff;
  width: 189px;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}

.contact .content .row .card .contact-icon {
  color: #3a6cf4;
  font-size: 4em;
  text-align: center;
  transition: transform 0.5s ease;
}

.contact .content .row .card:hover .contact-icon {
  transform: translateY(-10px);
}

.contact .content .row .card .info {
  text-align: center;
}

.contact .content .row .card .info h3 {
  color: #111;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.contact .content .row .card .info span {
  color: #666;
  font-weight: 500;
}

.contact-form {
  background: #fff;
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.contact-form h3 {
  color: #111;
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  color: #111;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  outline: none;
  border: 1px solid #111;
  border-radius: 5px;
  resize: none;
}

.contact-form .input-box .send-btn {
  color: #fff;
  background: linear-gradient(90deg, #1e90ff, #00e5ff);
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.contact-form .input-box .send-btn:hover {
  background: #235bf6;
}

/* Footer */

.footer {
  background: #1e3a8a;
  color: #fff;
  text-align: center;
  padding: 2em;
}

.footer .footer-title {
  font-size: 20px;
  font-weight: 600;
}

.footer p {
  font-size: 16px;
  margin-top: 10px;
}

.footer p a {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  header.sticky {
    padding: 10px 20px;
  }

  header .navigation {
    display: none;
  }

  .navigation.active {
    z-index: 889;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
    transition: 0.3s ease;
  }

  header .navigation a {
    color: black;
    font-size: 1.2em;
    margin: 10px;
    padding: 10px 40px;
    border-radius: 5px;
  }

  header .navigation a:hover {
    background-color: #3a6cf4;
    color: white;
    transition: 0.3s ease;
  }

  .menu-btn {
    position: absolute;
    background-image: url(Image/menu.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background-image: url(Image/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    transition: 0.3s ease;
    filter: invert(1);
  }

  section {
    padding: 80px 20px;
  }

  .main .content h2 {
    font-size: 1em;
  }

  .animated-text h3 {
    font-size: 2.2em;
  }

  .section-title {
    font-size: 1.8em;
  }

  .about .content {
    flex-direction: column;
  }

  .about .content .column {
    width: 100%;
    position: relative;
  }

  .about .content .col-right {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .portofolio .content {
    grid-template-columns: 1fr; /* jadi 1 kolom */
  }
}


